<div class="container my-5">
  <h1 class="">Benchmark</h1>
  <h2 class="mb-3 text-muted">Inline vs. ContentTag vs. partials vs. view_component</h2>
  <p class="my-3">
    <a href="#results" class="btn btn-primary btn-lg">Results</a>
  </p>

  <!--
  <h3>Test Data for Table</h3>
  <pre><%= JSON.pretty_generate(@data) %></pre>
  -->

  <%#= render(TableComponent.new(rows: [])) %>

  <% ::Benchmark.bm do |x| %>
    <%
      inline_pre, inline, content_tag_pre, content_tag, partial_pre, partial, view_component_pre, view_component = nil, nil, nil, nil, nil, nil, nil, nil
    %>
    <h4>Inline</h4>
    <div class="row">
      <div class="col-12 col-md-6">
        <% inline_full = x.report("inline_full") do %>
          <% inline_pre = x.report("inline") do %>
            <table class="table table-sm">
              <tbody>
              <% @data.each do |row| %>
                <tr>
                  <% row.each do |key, val| %>
                    <td><%= val %></td>
                  <% end %>
                </tr>
              <% end %>
              </tbody>
            </table>
          <% end %>
          <% inline = x.report("inline") do %>
            <% @iterations.times do %>
            <table class="table table-sm">
              <tbody>
              <% @data.each do |row| %>
                <tr>
                  <% row.each do |key, val| %>
                    <td><%= val %></td>
                  <% end %>
                </tr>
              <% end %>
              </tbody>
            </table>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <div class="col-12 col-md-6">
        <pre class="mt-3 mb-0 bg-info p-3 text-dark"><%= inline_pre %><%= inline %></pre>
        <pre class="bg-dark p-3 text-white"><%= inline_full %></pre>
      </div>
    </div>

    <h4>Content Tag / Helper</h4>
    <div class="row">
      <div class="col-12 col-md-6">
        <% content_tag_full = x.report("content_tag_full") do %>
          <% content_tag_pre = x.report("content_tag_pre") do %>
            <%= table(rows: @data) %>
          <% end %>
          <% content_tag = x.report("content_tag") do %>
            <% @iterations.times do %>
              <%= table(rows: @data) %>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <div class="col-12 col-md-6">
        <pre class="mt-3 mb-0 bg-info p-3 text-dark"><%= content_tag_pre %><%= content_tag %></pre>
        <pre class="bg-dark p-3 text-white"><%= content_tag_full %></pre>
      </div>
    </div>


    <h4>Partial</h4>
    <div class="row">
      <div class="col-12 col-md-6">
        <% partial_full = x.report("partial_full") do %>
          <% partial_pre = x.report("partial") do %>
            <%= render partial: "table", locals: { data: @data } %>
          <% end %>
          <% partial = x.report("partial") do %>
            <% @iterations.times do %>
            <%= render partial: "table", locals: { data: @data } %>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <div class="col-12 col-md-6">
        <pre class="mt-3 mb-0 bg-info p-3 text-dark"><%= partial_pre %><%= partial %></pre>
        <pre class="bg-dark p-3 text-white"><%= partial_full %></pre>
      </div>
    </div>

    <h4>View Component</h4>
    <div class="row">
      <div class="col-12 col-md-6">
        <% view_component_full = x.report("view_component_full") do %>
          <% view_component_pre = x.report("view_component") do %>
            <%= render(TableComponent.new(rows: @data)) %>
          <% end %>
          <% view_component = x.report("view_component") do %>
            <% @iterations.times do %>
            <%= render(TableComponent.new(rows: @data)) %>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <div class="col-12 col-md-6">
        <pre class="mt-3 mb-0 bg-info p-3 text-dark"><%= view_component_pre %><%= view_component %></pre>
        <pre class="bg-dark p-3 text-white"><%= view_component_full %></pre>
      </div>
    </div>

    <h3 id="results" name="results">Results</h3>
    <table class="table">
      <tr>
        <th>Inline</th>
        <td><pre class="bg-dark m-0 p-3 text-white"><%= inline_full %></pre></td>
      </tr>
      <tr>
        <th>Content Tag</th>
        <td><pre class="bg-dark m-0 p-3 text-white"><%= content_tag_full %></pre></td>
      </tr>
      <tr>
        <th>Partial</th>
        <td><pre class="bg-dark m-0 p-3 text-white"><%= partial_full %></pre></td>
      </tr>
      <tr>
        <th>View Component</th>
        <td><pre class="bg-dark m-0 p-3 text-white"><%= view_component_full %></pre></td>
      </tr>
    </table>

  <% end %>
</div>